:root {
    --colour-1: #a9b3ce;
    --colour-2: #7cdedc;
    --colour-3: #473f3f;
    --main-colour-1: #f92a82;
    --main-colour-2: #ffb4b4;
    --background-colour: #ff58a3;
  
    --rgb-colour-1: 255, 180, 180;
    --rgb-colour-2: 255, 121, 121;
    --rgb-main-colour-1: 255, 88, 163;
    --rgb-main-colour-2: 255, 0, 119;
    --rgb-background-colour: 34, 41, 48;
}

@font-face {
    font-family: YanoneKaffeesatz;
    src: url("../fonts/YanoneKaffeesatz/font.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu/font.ttf");
}

/* Global stuff */
body {
    background-color: var(--background-colour);
}

* {
    font-family: YanoneKaffeesatz;
    letter-spacing: 0.1vw;

    text-shadow: 0.1vw 0.1vw black;
}

::selection {
    border-radius: 30px;
    background: var(--colour-3); /* WebKit/Blink Browsers */
}

::-moz-selection {
    border-radius: 30px;
    background: var(--colour-3); /* Gecko Browsers */
}

a {
    color: inherit;
    text-decoration: none;
}