fastapi[standard]
watchfiles
aiofiles
jinja2
aiohttp
python-decouple
typing-extensions
meow-inator-5000 @ git+https://github.com/THEGOLDENPRO/meow-inator-5000
pyromark
pymdown-extensions
toml
beautifulsoup4
fastapi-tailwind