{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="theme-color" content="rgb({{ blog_accent_colour }})">

<link rel="stylesheet" href="../../output.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!-- highlight.js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block body %}
<body class="font-dosis text-white bg-exeBlack">
    <header>
        <div class="text-7xl mobile:text-4xl font-bold font-hacked text-center py-5 select-none animate-flicker drop-shadow-flicker">
            <a style="color: white !important;" href="..">
                <span>Goldy.exe</span>
            </a>
        </div>
    </header>

    <a href="/blogs" style="color: white !important;">
        <button href class="absolute bg-exeGray bg-opacity-5 border-exeGray border-[1px] 
        px-3 py-2 mobile:p-0 mobile:px-1 rounded-2xl top-6 left-6 hover:scale-110 will-change-transform 
        transition-transform ease-in-out duration-500">
            <i class='bx bx-arrow-back relative top-[0.080rem]'></i>
            <h2 class="inline mobile:hidden"> BACK</h2>
        </button>
    </a>

    <div class="px-[5%] mx-auto max-w-6xl">
        <div class="!cursor-default pointer-events-none">
            <figure class="rounded-3xl overflow-hidden">
                <img src="{{ blog_thumbnail_url }}">
            </figure>

            <h2 class="text-center pt-2 font-bold text-4xl mobile:text-xl">{{ blog_name }}</h2>
            <h4 class="text-center pt-2 text-exeGray">{{ blog_date_added }}</h4>
        </div>

        <div id="post-content" class="pt-8 mobile:pt-0 w-3/4 mobile:w-full">
            {{ blog_content|safe }}
        </div>
    </div>
</body>
{% endblock %}

</html>