{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="theme-color" content="rgb({{ rgb_colour }})">

<link rel="stylesheet" href="../../output.css">
<!-- highlight.js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block body %}
<body class="font-dosis text-white bg-exeBlack">
    <header>
        <div class="text-7xl mobile:text-4xl font-bold font-hacked text-center py-5 select-none animate-flicker drop-shadow-flicker">
            <a style="color: white !important;" href="..">
                <span>Goldy.exe</span>
            </a>
        </div>
    </header>

    <div class="px-[5%] mx-auto max-w-7xl">
        <div id="top-post" class="!cursor-default pointer-events-none">
            <figure class="rounded-3xl overflow-hidden">
                <img src="{{ thumbnail_url }}">
            </figure>

            <h2 class="text-center pt-2 font-bold text-4xl mobile:text-xl">{{ name }}</h2>
            <h4 class="text-center pt-2 text-exeGray">{{ date_added }}</h4>
        </div>

        <div id="post-content" class="pt-8 mobile:pt-0 w-3/4 mobile:w-full">
            {{ content|safe }}
        </div>
    </div>
</body>
{% endblock %}

</html>