/* 
    All credits and love to "himagna" for this css.

    Source: https://codepen.io/himagna/pen/LYgqJoW
*/

.animated-crt-lines {
    background-image: linear-gradient(rgba(17, 20, 53, 0.02), rgba(255, 207, 118, 0.02));
    background-repeat: repeat;
    background-size: 100vw 10vh;
    animation: crt-scroll 1s linear infinite;
}

@keyframes crt-scroll {
    100% {
        background-position: 0% 100%;
    }
}