<footer class="mx-auto my-10 w-full max-w-container px-2 sm:px-6 lg:px-8 tracking-widest">
    <div class="border-t border-slate-900/5 pt-5">
        <div class="grid place-items-center">
            <a href="https://github.com/THEGOLDENPRO">
                <img class="w-12 text-slate-900 rounded-full" src="https://avatars.githubusercontent.com/u/66202304">
            </a>
        </div>

        <p class="mt-5 text-center leading-6 text-exeGray">
            © 2023 - 2024 Goldy. All rights reserved.
        </p>

        <div class="mt-5 flex items-center justify-center space-x-4 font-semibold">
            <a href="https://github.com/THEGOLDENPRO/devgoldy.xyz">Source Code</a>
            <div class="h-4 w-px bg-slate-500/20"></div>
            <a href="https://github.com/THEGOLDENPRO/devgoldy.xyz/releases">Changelog</a>
            <div class="h-4 w-px bg-slate-500/20"></div>
            <a href="https://github.com/THEGOLDENPRO/devgoldy.xyz/blob/master/LICENSE">License</a>
        </div>
    </div>
</footer>
