<footer class="mx-auto my-10 w-full max-w-container px-2 text-sm tracking-widest">
    <div class="border-t border-slate-900/5 pt-5">
        <div class="grid place-items-center">
            <a href="https://github.com/THEGOLDENPRO">
                <img class="w-12 text-slate-900 rounded-full" src="https://avatars.githubusercontent.com/u/66202304">
            </a>
        </div>

        <p class="mt-5 text-center leading-6 text-exeGray">
            © 2023 Goldy. All rights reserved.
        </p>

        <div class="mt-5 flex items-center justify-center space-x-4 font-semibold">
            <a class="text-goldyOrangy-300 font-bold transition duration-300 hover:text-goldyOrangy-800" href="{{ source_code_url }}">Source Code</a>
            <div class="h-4 w-px bg-slate-500/20"></div>
            <a class="text-goldyOrangy-300 font-bold transition duration-300 hover:text-goldyOrangy-800" href="{{ change_log_url }}">Changelog</a>
            <div class="h-4 w-px bg-slate-500/20"></div>
            <a class="text-goldyOrangy-300 font-bold transition duration-300 hover:text-goldyOrangy-800" href="{{ license_url }}">License</a>
        </div>
    </div>
</footer>