<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goldy</title>

    <meta content="Goldy - Home" property="og:title">
    <meta content="My main website." property="og:description">
    <meta content="devgoldy.xyz" property="og:site_name">
    <meta name="theme-color" content="#fbc689">
    <meta content="https://devgoldy.xyz/image.png" property='og:image'>

    <meta name="twitter:site" content="@GoldyTGP">
    <meta name="twitter:title" content="Goldy - Home">
    <meta name="twitter:description" content="My main website.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="https://devgoldy.xyz/image.png">

    <link rel="stylesheet" href="./output.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="m-0 mt-10 text-white bg-goldyDarky font-YanoneKaffeesatz">
    <div style="text-shadow: black 0px 0px 15px;"
        class="grid grid-cols-3 gap-4 mobile:grid-cols-1 w-2/4 tablet:w-3/4 mobile:w-full mx-auto select-none">

        <div class="hidden mobile:block select-none">
            <figure>
                <img style="box-shadow: black 0px 0px 15px;" class="rounded-full w-2/5 mx-auto"
                    src="https://avatars.githubusercontent.com/u/66202304">
            </figure>
        </div>

        <div class="col-start-1 col-end-3 mobile:col-auto h-[100%]">
            <h1 class="text-7xl mobile:text-4xl text-goldyCream font-bold tracking-[0.5rem]">Hi, it's Goldy</h1>
            <h2 class="text-2xl mobile:text-xl">
                I'm an up and coming <a class="text-goldyOrangy-300 font-bold" href="./github">open-source
                    developer</a>.
            </h2>

            <div class="links text-center text-2xl mobile:text-xl h-full">
                <ul class="relative pt-[8%]">
                    <li>
                        <a href="./github"><i class='bx bxl-github'></i> Github</a>
                    </li>
                    <li>
                        <a href="./discord"><i class='bx bxl-discord-alt'></i> Discord</a>
                    </li>
                    <li>
                        <a href="./anime"><i class='bx bx-film'></i> MyAnimeList</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="mobile:hidden select-none">
            <figure>
                <img style="box-shadow: black 0px 0px 15px;" class="rounded-full w-4/5 mx-auto"
                    src="https://avatars.githubusercontent.com/u/66202304">
            </figure>
        </div>

    </div>

    <div class="status mt-5 bg-goldyDarky-200 p-5 rounded-3xl mx-[20%] mobile:mx-auto">

        test

    </div>

    <script src="./script.js"></script>

    {% extends "footer.html" %}
    </body>

</html>