{% extends "base.html" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="./output.css">

<link rel="stylesheet" href="./animated_crt_lines.css">
<link rel="stylesheet" href="./animated_static_bg.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block body %}
<body class="m-0 text-white bg-goldyDarky-500 font-YanoneKaffeesatz tracking-wide">
    <div id="static-bg-div" class="animated-static-bg z-10 pointer-events-none"></div>

    {% if status is not none %}
    <div class="bg-goldyOrangy bg-opacity-50 w-fit mobile:w-full px-10 mobile:px-2 rounded-xl rounded-t-none mobile:rounded-none mx-auto select-none">
        <h2 class="font-bold text-center" style="text-shadow: black 1px 1px 0px;">{{ status|safe }}</h2>
    </div>
    {% endif %}

    <div class="absolute top-6 mobile:top-8 left-6 mobile:left-2 opacity-35 hover:opacity-100 transition">
        <label id="toggle-effects-button" class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer">
            <div class="relative w-11 h-6 bg-gray-300 peer-checked:bg-goldyCream rounded-full 
            peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full after:content-[''] 
            after:absolute after:top-[2px] after:start-[2px] after:bg-goldyDarky-200 after:rounded-full after:h-5 
            after:w-5 after:transition-all"></div>
            <span class="ms-3 mobile:ms-2 mt-0.5 text-base mobile:text-sm 2.75rem text-gray-900 dark:text-gray-300">Disable Effects</span>
        </label>
    </div>

    <div class="grid grid-cols-3 gap-4 mobile:grid-cols-1 w-2/4 tablet:w-3/4 mobile:w-full mx-auto mt-5 select-none tracking-widest">

        <div class="hidden mobile:block select-none">
            <figure>
                <img style="box-shadow: black 0px 0px 15px;" class="rounded-full w-2/5 mx-auto"
                    src="https://avatars.githubusercontent.com/u/66202304">
            </figure>
        </div>

        <div style="text-shadow: black 2px 2px 0px;" class="col-start-1 col-end-3 mobile:col-auto h-[100%] pt-5 mobile:pt-0 ">
            <h1 id="its_goldy_text" style="text-shadow: 3px 0.5px 1px #fb89ab;"
            class="opacity-0 text-7xl mobile:text-4xl mobile:drop-shadow-none text-goldyCream font-bold tracking-[0.5rem]">
                Hi, it's Goldy
            </h1>
            <h2 id="quick_about_text" class="opacity-0 text-2xl mobile:text-xl">
                I'm an up and coming <a href="./github">open-source
                    developer</a>.
            </h2>

            <div id="links" class="opacity-0 links text-center text-2xl mobile:text-xl h-full">
                <ul class="relative pt-[8%]">
                    <li>
                        <a href="./github"><i class='bx bxl-github'></i> Github</a>
                    </li>
                    <li>
                        <a href="./discord"><i class='bx bxl-discord-alt'></i> Discord</a>
                    </li>
                    <li>
                        <a href="./anime"><i class='bx bx-film'></i> MyAnimeList</a>
                    </li>
                </ul>
            </div>

        </div>

        <div id="image" class="opacity-0 mobile:hidden select-none">
            <figure>
                <img style="box-shadow: black 0px 0px 15px;" class="rounded-full w-4/5 mx-auto"
                    src="https://avatars.githubusercontent.com/u/66202304">
            </figure>
        </div>

    </div>

    <div class="grid grid-cols-2 gap-8 mobile:grid-cols-1 p-5 mx-[15%] tablet:mx-0 mt-5">

        <div id="about-me-div" class="animated-crt-lines bg-goldyDarky bg-opacity-10 rounded-md border-2 border-opacity-60 border-goldyCream">

            <div class="relative pt-1">
                <div class="select-none cursor-default">
                    <div class="mx-auto w-fit">
                        <div class="text-xl my-1.5 px-2">
                            <span class="pr-1">✨</span>
                            <h2 class="inline text-white font-bold tracking-wider">About Me</h2>
                        </div>
                    </div>

                    <div style="stroke-opacity: 0.8;" class="absolute tablet:hidden pt-2 pr-2 top-0 right-0 space-x-0.5 fill-white stroke-white stroke-2">
                        <button class="pointer-events-none border-2 border-opacity-70 border-goldyCream will-change-auto rounded-md">
                            <svg class="inline" width="24" height="20" viewBox="0 0 24 24">
                                <path d="M5 11h14v2H5z"></path>
                            </svg>
                        </button>
    
                        <button class="pointer-events-none border-2 border-opacity-70 border-goldyCream will-change-auto rounded-md">
                            <svg class="inline" width="24" height="16" viewBox="0 0.5 24 24">
                                <path d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 16H5V5h14v14z"></path>
                            </svg>
                        </button>
    
                        <button class="pointer-events-none border-2 border-opacity-70 border-goldyCream h-[28px] will-change-auto rounded-md">
                            <svg class="inline" width="24" height="24" viewBox="0 0.5 24 24">
                                <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="p-6 tablet:p-3 font-typewriter tracking-wider">
                {{ about_me_content|safe }}
            </div>

        </div>

        <div id="blogs-div" class="bg-goldyDarky bg-opacity-10 rounded-md border-2 border-opacity-60 border-goldyCream">
    
            <div class="relative pt-1">
                <div class="select-none cursor-default">
                    <div class="mx-auto w-fit">
                        <div class="text-xl my-1.5 px-2">
                            <h2 class="inline text-white font-bold tracking-wider">📖 My Blogs</h2>
                        </div>
                    </div>
    
                    <div style="stroke-opacity: 0.8;" class="absolute tablet:hidden pt-2 pr-2 top-0 right-0 space-x-0.5 fill-white stroke-white stroke-2">
                        <button class="pointer-events-none border-2 border-opacity-70 border-goldyCream will-change-auto rounded-md">
                            <svg class="inline" width="24" height="20" viewBox="0 0 24 24">
                                <path d="M5 11h14v2H5z"></path>
                            </svg>
                        </button>
    
                        <button class="pointer-events-none border-2 border-opacity-70 border-goldyCream will-change-auto rounded-md">
                            <svg class="inline" width="24" height="16" viewBox="0 0.5 24 24">
                                <path d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 16H5V5h14v14z"></path>
                            </svg>
                        </button>
    
                        <button class="pointer-events-none border-2 border-opacity-70 border-goldyCream h-[28px] will-change-auto rounded-md">
                            <svg class="inline" width="24" height="24" viewBox="0 0.5 24 24">
                                <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
    
            <div id="blogs-slideshow" class="p-6 tablet:p-3">
                <div class="relative z-10 cursor-pointer">
                    {% for post in blog_posts %}
                    <h3 style="text-shadow: black 2px 2px 0px;" class="hidden opacity-0 transition duration-300 select-none 
                        absolute top-3 px-5 w-full text-center text-3xl font-typewriter tracking-normal mobile:hidden font-bold">
                        {{ post.name }}
                    </h3>
                    {% endfor %}
                </div>
    
                <figure class="overflow-hidden rounded-3xl">
                    {% for post in blog_posts %}
                    <a href="/blogs/post/{{ post.id }}">
                        <img src="{{ './image.png' if post.thumbnail_url is none else post.thumbnail_url }}" 
                        class="hidden transition duration-300 animate-fade-in-faster select-none">
                    </a>
                    {% endfor %}
                </figure>
    
                <div class="text-center mt-3">
                    {% for number in range(blog_posts|length) %}
                    <button onclick="toggleSlideshowImage(blogs_slideshow, '{{ number }}'); stopSlideshowLoopThingy(blogs_slideshow_id);" class="w-4 h-4 rounded-full m-1 bg-gray-600"></button>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="projects-div" class="col-span-2 mobile:col-span-1 bg-goldyDarky bg-opacity-10 rounded-md border-2 border-opacity-60 border-goldyCream">

            <div class="relative pt-1">
                <div class="select-none cursor-default">
                    <div class="mx-auto w-fit">
                        <div class="text-xl my-1.5 px-2">
                            <h2 class="inline text-white font-bold tracking-wider">⭐ Projects</h2>
                        </div>
                    </div>

                    <div style="stroke-opacity: 0.8;" class="absolute tablet:hidden pt-2 pr-2 top-0 right-0 space-x-0.5 fill-white stroke-white stroke-2">
                        <button class="pointer-events-none border-2 border-opacity-70 border-goldyCream will-change-auto rounded-md">
                            <svg class="inline" width="24" height="20" viewBox="0 0 24 24">
                                <path d="M5 11h14v2H5z"></path>
                            </svg>
                        </button>

                        <button class="pointer-events-none border-2 border-opacity-70 border-goldyCream will-change-auto rounded-md">
                            <svg class="inline" width="24" height="16" viewBox="0 0.5 24 24">
                                <path d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 16H5V5h14v14z"></path>
                            </svg>
                        </button>

                        <button class="pointer-events-none border-2 border-opacity-70 border-goldyCream h-[28px] will-change-auto rounded-md">
                            <svg class="inline" width="24" height="24" viewBox="0 0.5 24 24">
                                <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-3 mobile:grid-cols-1 gap-4 p-5">
                {% for project in open_source_projects %}
                <div title="{{ project.description }}" class="opacity-30 hover:opacity-100 sepia hover:sepia-0 transition">
                    <a href="{{ project.git }}">
                        <img src="{{ './image.jpg' if project.image is none else project.image }}" 
                        class="transition rounded-lg duration-300 animate-fade-in-faster select-none">
                    </a>
                    <h3 class="mt-2 text-center text-gray-300 text-lg tracking-wider">{{ project.name }}</h3>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>

    <script src="./scripts/index.js"></script>

</body>
{% endblock %}