{% extends "base.html" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="./output.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block body %}
<body class="m-0 mt-5 text-white bg-goldyDarky font-YanoneKaffeesatz">

    <div class="grid grid-cols-3 gap-4 mobile:grid-cols-1 w-2/4 tablet:w-3/4 mobile:w-full mx-auto select-none">

        <div class="hidden mobile:block select-none">
            <figure>
                <img style="box-shadow: black 0px 0px 15px;" class="rounded-full w-2/5 mx-auto"
                    src="https://avatars.githubusercontent.com/u/66202304">
            </figure>
        </div>

        <div style="text-shadow: black 2px 2px 0px;" class="col-start-1 col-end-3 mobile:col-auto h-[100%] pt-5 mobile:pt-0">
            <h1 id="its_goldy_text" class="opacity-0 text-7xl mobile:text-4xl text-goldyCream font-bold tracking-[0.5rem]">Hi, it's Goldy</h1>
            <h2 id="quick_about_text" class="opacity-0 text-2xl mobile:text-xl">
                I'm an up and coming <a href="./github">open-source
                    developer</a>.
            </h2>

            <div id="links" class="opacity-0 links text-center text-2xl mobile:text-xl h-full">
                <ul class="relative pt-[8%]">
                    <li>
                        <a href="./github"><i class='bx bxl-github'></i> Github</a>
                    </li>
                    <li>
                        <a href="./discord"><i class='bx bxl-discord-alt'></i> Discord</a>
                    </li>
                    <li>
                        <a href="./anime"><i class='bx bx-film'></i> MyAnimeList</a>
                    </li>
                </ul>
            </div>

        </div>

        <div id="image" class="opacity-0 mobile:hidden select-none">
            <figure>
                <img style="box-shadow: black 0px 0px 15px;" class="rounded-full w-4/5 mx-auto"
                    src="https://avatars.githubusercontent.com/u/66202304">
            </figure>
        </div>

    </div>

    <div class="status mt-5 bg-goldyDarky-200 p-5 rounded-3xl mx-[20%] mobile:mx-auto">

        <p>This site is currently in alpha so this section is still currently under development. </p>

        <br>

        <p>I added some temporary hyperlinks below to other sections of the site:</p>

        <ul class="ml-5">
            <li>- <a href="./blogs/">new blog site</a></li>
        </ul>

        <div id="blogs-slideshow" class="p-10 mobile:p-0 mobile:pt-5">
            <figure class="overflow-hidden rounded-3xl">
                {% for post in blog_posts %}
                <img src="{{ post.thumbnail_url }}" class="hidden animate-fade-in">
                {% endfor %}
            </figure>

            <div class="text-center mt-3">
                {% for number in range(blog_posts|length) %}
                <button onclick="toggleSlideshowImage(blogs_slideshow, '{{ number }}');" class="w-3 h-3 rounded-full m-1 bg-gray-600"></button>
                {% endfor %}
            </div>
        </div>

    </div>

    <script src="./scripts/index.js"></script>

</body>
{% endblock %}