{% extends "base.html" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="./output.css">

<link rel="stylesheet" href="./animated_static_bg.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block body %}
<body class="m-0 text-white bg-goldyDarky-500 font-YanoneKaffeesatz tracking-wide">
    <div class="-z-0 animated-static-bg"></div>

    {% if status is not none %}
    <div class="bg-goldyOrangy bg-opacity-50 w-fit mobile:w-full px-10 mobile:px-2 rounded-xl rounded-t-none mobile:rounded-none mx-auto select-none">
        <h2 class="font-bold text-center" style="text-shadow: black 1px 1px 0px;">{{ status|safe }}</h2>
    </div>
    {% endif %}

    <div class="grid grid-cols-3 gap-4 mobile:grid-cols-1 w-2/4 tablet:w-3/4 mobile:w-full mx-auto mt-5 select-none tracking-widest">

        <div class="hidden mobile:block select-none">
            <figure>
                <img style="box-shadow: black 0px 0px 15px;" class="rounded-full w-2/5 mx-auto"
                    src="https://avatars.githubusercontent.com/u/66202304">
            </figure>
        </div>

        <div style="text-shadow: black 2px 2px 0px;" class="col-start-1 col-end-3 mobile:col-auto h-[100%] pt-5 mobile:pt-0 ">
            <h1 id="its_goldy_text" style="text-shadow: 3px 0.5px 1px #fb89ab, -1px -0.5px 2px #f57d3d;"
            class="opacity-0 text-7xl mobile:text-4xl text-goldyCream font-bold tracking-[0.5rem]">
                Hi, it's Goldy
            </h1>
            <h2 id="quick_about_text" class="opacity-0 text-2xl mobile:text-xl">
                I'm an up and coming <a href="./github">open-source
                    developer</a>.
            </h2>

            <div id="links" class="opacity-0 links text-center text-2xl mobile:text-xl h-full">
                <ul class="relative pt-[8%]">
                    <li>
                        <a href="./github"><i class='bx bxl-github'></i> Github</a>
                    </li>
                    <li>
                        <a href="./discord"><i class='bx bxl-discord-alt'></i> Discord</a>
                    </li>
                    <li>
                        <a href="./anime"><i class='bx bx-film'></i> MyAnimeList</a>
                    </li>
                </ul>
            </div>

        </div>

        <div id="image" class="opacity-0 mobile:hidden select-none">
            <figure>
                <img style="box-shadow: black 0px 0px 15px;" class="rounded-full w-4/5 mx-auto"
                    src="https://avatars.githubusercontent.com/u/66202304">
            </figure>
        </div>

    </div>

    <div class="status mt-5 bg-goldyDarky-200 p-5 rounded-3xl mx-[20%] mobile:mx-auto">

        <div class="grid grid-cols-2 mobile:grid-cols-1">

            <div class="p-2">
                <div class="text-xl text-center font-bold mb-2">
                    <span class="pr-1">🏗️</span>
                    <h2 class="inline underline">Under Construction</h2>
                </div>

                <p>This site is currently in alpha so this section is still currently under development. </p>

                <br>
        
                <p>I added some temporary hyperlinks below to other sections of the site:</p>
        
                <ul class="ml-5">
                    <li>- <a href="./blogs/">new blog site</a></li>
                </ul>
            </div>

            <div id="blogs-slideshow" class="p-2">
                <h2 class="underline text-xl text-center font-bold mb-2">My Blogs</h2>

                <div class="relative z-10 cursor-pointer">
                    {% for post in blog_posts %}
                    <h3 style="text-shadow: black 2px 2px 0px;" class="hidden opacity-0 transition duration-300 select-none 
                        absolute top-3 px-5 w-full text-center text-4xl tracking-normal mobile:hidden font-bold">
                        {{ post.name }}
                    </h3>
                    {% endfor %}
                </div>

                <figure class="overflow-hidden rounded-3xl">
                    {% for post in blog_posts %}
                    <a href="/blogs/post/{{ post.id }}">
                        <img src="{{ './image.png' if post.thumbnail_url is none else post.thumbnail_url }}" 
                        class="hidden transition duration-300 animate-fade-in-faster select-none">
                    </a>
                    {% endfor %}
                </figure>

                <div class="text-center mt-3">
                    {% for number in range(blog_posts|length) %}
                    <button onclick="toggleSlideshowImage(blogs_slideshow, '{{ number }}'); stopSlideshowLoopThingy(blogs_slideshow_id);" class="w-3 h-3 rounded-full m-1 bg-gray-600"></button>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>

    <script src="./scripts/index.js"></script>

</body>
{% endblock %}