{% extends "base.html" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="./output.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block body %}
<body class="m-0 mt-10 text-white bg-goldyDarky font-YanoneKaffeesatz">
    <div style="text-shadow: black 0px 0px 15px;" class="grid grid-cols-3 gap-4 mobile:grid-cols-1 w-2/4 tablet:w-3/4 mobile:w-full mx-auto select-none">

        <div class="hidden mobile:block select-none">
            <figure>
                <img style="box-shadow: black 0px 0px 15px;" class="rounded-full w-2/5 mx-auto" src="https://avatars.githubusercontent.com/u/66202304">
            </figure>
        </div>

        <div class="col-start-1 col-end-3 mobile:col-auto h-[100%]">
            <h1 class="text-7xl mobile:text-4xl text-goldyCream font-bold tracking-[0.5rem]">Hi, it's Goldy</h1>
            <h2 class="text-2xl mobile:text-xl">
                I'm an up and coming <a class="text-goldyOrangy-300 font-bold" href="./github">open-source developer</a>.
            </h2>

            <div class="links text-center text-2xl mobile:text-xl h-full">
                <ul class="relative pt-[8%]">
                    <li>
                        <a href="./github"><i class='bx bxl-github'></i> Github</a>
                    </li>
                    <li>
                        <a href="./discord"><i class='bx bxl-discord-alt'></i> Discord</a>
                    </li>
                    <li>
                        <a href="./anime"><i class='bx bx-film'></i> MyAnimeList</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="mobile:hidden select-none">
            <figure>
                <img style="box-shadow: black 0px 0px 15px;" class="rounded-full w-4/5 mx-auto" src="https://avatars.githubusercontent.com/u/66202304">
            </figure>
        </div>

    </div>

    <div class="status mt-5 bg-goldyDarky-500 p-5 rounded-3xl 
    grid grid-cols-1 small-screen:grid-cols-2 gap-4 gap-y-10 mobile:gap-y-4 mx-[20%] mobile:mx-auto">

        <div class="blog-posts text-center">

            <h1 class="text-center text-xl font-extrabold underline mb-2">
                Latest Blog Posts
            </h1>

            {% for post in blog_posts %}
                <article>
                    <h2>{{ post.date_added }} - <a class="text-goldyOrangy-300 font-bold" href="./blogs/post/{{ post.id }}">{{ post.name }}</a></h2>
                </article>
            {% endfor %}

        </div>

        <div class="open-source-projects text-center">

            <h1 class="text-center text-xl font-extrabold underline mb-2">
                Open-Source Projects
            </h1>

            {% for project in open_source_projects %}
                <h2><a class="text-goldyOrangy-300 font-bold" href="{{ project.git }}">{{ project.name }}</a> - {{ project.description }}</h2>
            {% endfor %}

        </div>

        <div class="anime-status text-center col-span-2 mobile:col-auto">

            <h1 class="text-center text-xl font-extrabold underline mb-2">
                Anime Status
            </h1>

            {% for anime in anime_list %}
                <h2>{{ anime.date }} - {{ anime.action }} <a class="text-goldyOrangy-300 font-bold" href="{{ anime.url }}">{{ anime.title }}</a></h2>
            {% endfor %}

            <h2 class="mt-8">More status at  <a href="./anime">MyAnimeList</a></h2>

        </div>

    </div>

</body>
{% endblock %}