<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Goldy</title>

        <meta content="{{ title }}" property="og:title">
        <meta content="{{ description }}" property="og:description">
        <meta content="{{ site_name }}" property="og:site_name">
        <meta content="{{ image_url }}" property='og:image'>
        <meta name="theme-color" content="{{ colour }}">

        <meta name="twitter:site" content="@GoldyTGP">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">

        <link rel="stylesheet" href="./output.css">

        <script>
            window.location.href = "{{ redirect_url }}";
        </script>
    </head>

    <body class="bg-goldyDarky">

        <h2 class="text-white text-center mt-3 text-lg">
           Javascript disabled? <a class="text-goldyOrangy font-bold" href="{{ redirect_url }}">Click Here!</a> 
        </h2>

    </body>

</html>
