@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🚀 fonts */
/* ---------- */
@font-face {
    font-family: "Dosis";
    src: url("./fonts/Dosis.ttf");
}

@font-face {
    font-family: "atwriter";
    src: url("./fonts/atwriter.ttf");
}

@font-face {
    font-family: "Hacked-KerX";
    src: url("./fonts/Hacked-KerX.ttf");
}

@font-face {
    font-family: "YanoneKaffeesatz";
    src: url("./fonts/YanoneKaffeesatz.ttf");
}

/* ✨ custom devgoldy.xyz scrollbar */
/* --------------------------------- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 10px;
}

/* firefox scrollbar support */
html {
    scrollbar-color: #f1f1f1 transparent;
}

/* --------------------------------- */

@layer base {

    h1, h2, h3, h4, h5, h6, p, li {
        @apply font-medium;
    }

    strong {
        @apply font-[900];
    }

    a {
        @apply text-goldyOrangy-300 font-bold transition duration-300 hover:text-goldyOrangy-800
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply selection:bg-goldyCream selection:text-exeBlack;
    }

}

@layer components {
    .links li {
        @apply inline-block px-3;
    }

    .links a {
        @apply text-gray-300 hover:text-white transition-all;
    }

    .links i {
        @apply relative text-3xl top-1;
    }

    #post-content * {
        @apply mb-4;
    }

    #post-content h1 {
        @apply font-extrabold text-5xl mobile:text-2xl mt-6 !mb-1.5 underline;
    }

    #post-content h2 {
        @apply font-bold text-4xl mobile:text-xl mt-5 !mb-0;
    }

    #post-content h3 {
        @apply text-3xl mobile:text-xl underline mt-3 !mb-0;
    }

    #post-content h4 {
        @apply text-2xl mobile:text-lg underline !mb-0;
    }

    #post-content h1, #post-content h2, #post-content h3, #post-content h4 {
        @apply text-goldyCream;
    }

    #post-content h5, #post-content h6, #post-content p {
        @apply text-xl mobile:text-base;
    }

    #post-content img {
        @apply rounded-3xl my-3;
    }

    #post-content ul, #about-me-div ul {
        @apply list-disc pl-8;
    }

    #post-content ol, #about-me-div ol {
        @apply list-decimal pl-8;
    }

    #post-content ul *, #post-content ol * {
        @apply mb-0;
    }

    #post-content hr {
        @apply my-3;
    }

    #post-content blockquote {
        @apply p-4 my-4 border-l-4 border-exeGray;
    }

    #post-content blockquote p {
        @apply !m-0;
    }

    #post-content p code {
        @apply bg-black px-2 py-1 pb-0.5 text-base rounded-xl mobile:bg-goldyGreyy;
    }

    #post-content pre code {
        @apply rounded-xl;
    }
}